<!doctype html>
<html lang="pt-BR">

<head>

  <meta charset="UTF-8" />

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  />

  <title>SAEC - Meu Perfil</title>

  <!-- CSS -->
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/userStyle.css') }}"
  />

  <!-- GOOGLE FONTS -->
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    rel="stylesheet"
  />

  <!-- BOOTSTRAP -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />

</head>

<body class="bg-light">

  <!-- NAVBAR -->
  <nav class="navbar bg-primary-subtle fixed-top shadow-sm">

    <div class="container-fluid">

      <a
        class="navbar-brand text-primary-emphasis fw-bold"
        href="{{ url_for('main.indexUsers') }}"
      >
        SAEC
      </a>

      <!-- MENU BUTTON -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
      >

        <span class="navbar-toggler-icon"></span>

      </button>

      <!-- OFFCANVAS -->
      <div
        class="offcanvas offcanvas-end"
        id="offcanvasNavbar"
      >

        <div class="offcanvas-header">

          <h5 class="offcanvas-title">
            Menu
          </h5>

          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
          ></button>

        </div>

        <div class="offcanvas-body">

          <h6>
            Olá,
            {{ session['usuario_nome'] }} 👋
          </h6>

          <ul class="navbar-nav">

            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
              >
                Notificações
              </a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
              >
                Configurações
              </a>
            </li>

          </ul>

          <!-- LOGOUT -->
          <div class="mt-4">

            <a
              href="{{ url_for('auth.logout') }}"
              class="btn btn-danger w-100"
            >
              Sair
            </a>

          </div>

        </div>

      </div>

    </div>

  </nav>

  <!-- MAIN -->
  <main class="container py-5 mt-5">

    <div class="row g-4">

      <!-- ========================= -->
      <!-- PERFIL -->
      <!-- ========================= -->

      <div class="col-lg-5">

        <div class="card border-0 shadow-sm rounded-4">

          <div class="card-body">

            <!-- PERFIL -->
            <div class="d-flex align-items-center gap-3 mb-4">

              <div
                class="rounded-circle bg-primary text-white d-flex align-items-center justify-content-center"
                style="
                  width: 75px;
                  height: 75px;
                  font-size: 1.8rem;
                  font-weight: bold;
                "
              >

                {{ session['usuario_nome'][0] }}

              </div>

              <div>

                <h3 class="mb-1">
                  {{ session['usuario_nome'] }}
                </h3>

                <p class="text-muted mb-0">
                  ID:
                  {{ session['usuario_id'] }}
                </p>

              </div>

            </div>

            <!-- INFORMAÇÕES -->
            <div class="d-flex flex-column gap-2">

              <p>
                <strong>Nome:</strong>
                {{ session['usuario_nome'] }}
              </p>

              <p>
                <strong>E-mail:</strong>
                {{ session['usuario_email'] }}
              </p>

              <p>
                <strong>Telefone:</strong>
                {{ session['usuario_telefone'] }}
              </p>

              <p>
                <strong>CEP:</strong>
                {{ session['usuario_cep'] }}
              </p>

              <p>
                <strong>Número:</strong>
                {{ session['usuario_numero'] }}
              </p>

              <p>
                <strong>Complemento:</strong>
                {{ session['usuario_complemento'] }}
              </p>

              <p>
                <strong>CPF:</strong>
                {{ session['usuario_cpf'] }}
              </p>

            </div>

            <!-- BOTÕES -->
            <div class="d-grid gap-2 mt-4">

              <button class="btn btn-primary">
                Editar Informações
              </button>

              <a class="btn btn-success"  href="{{ url_for('main.exportar_pdf') }}">
                Exportar Dados
              </a>

              <button class="btn btn-outline-secondary">
                Revisar Termos
              </button>

            </div>

            <!-- VOLTAR -->
            <div class="mt-3">

              <a
                href="{{ url_for('main.indexUsers') }}"
                class="btn btn-outline-primary w-100"
              >
                Voltar
              </a>

            </div>

          </div>

        </div>

      </div>

      <!-- ========================= -->
      <!-- DEPENDENTES E PETS -->
      <!-- ========================= -->

      <div class="col-lg-7">

        <div class="card shadow-sm border-0 rounded-4">

          <div class="card-body">

            <h2 class="mb-4">
              Dependentes e Pets
            </h2>
<!-- BOTÕES -->
<div class="d-flex gap-2 mb-4">

  <!-- DEPENDENTE -->
  <button
    class="btn btn-outline-primary"
    type="button"
    onclick="mostrarDependente()"
  >
    + Adicionar Dependente
  </button>

  <!-- PET -->
  <button
    class="btn btn-outline-success"
    type="button"
    onclick="mostrarPet()"
  >
    + Adicionar Pet
  </button>

</div>
            <!-- ========================= -->
            <!-- DEPENDENTE -->
            <!-- ========================= -->

            {% if session.get('usuario_dependente') %}

            <div class="card border mb-3 shadow-sm">

              <div class="card-body">

                <h4 class="mb-3">
                   Dependente:
                  {{ session['usuario_dependente'] }}
                </h4>

                <p>
                  <strong>Parentesco:</strong>
                  {{ session['usuario_parentesco'] }}
                </p>

                <p>
                  <strong>Data de nascimento:</strong>
                  {{ session['usuario_data_nascimento'] }}
                </p>

              </div>

            </div>

            {% else %}
      
            <!-- FORM -->
            <div
              id="formDependente"
              class="card border shadow-sm mb-4"
              style="display: none;"
            >

              <div class="card-body">

                <h4 class="mb-4">
                  Cadastro de Dependente
                </h4>

                <form>

                  <div class="mb-3">

                    <label class="form-label">
                      Nome do Dependente
                    </label>

                    <input
                      type="text"
                      class="form-control"
                      name="nome_dependente"
                    />

                  </div>

                  <div class="mb-3">

                    <label class="form-label">
                      Data de Nascimento
                    </label>

                    <input
                      type="date"
                      class="form-control"
                      name="data_nascimento"
                    />

                  </div>

                  <div class="mb-3">

                    <label class="form-label">
                      Parentesco
                    </label>

                    <input
                      type="text"
                      class="form-control"
                      name="parentesco"
                    />

                  </div>

                  <button
                    type="button"
                    class="btn btn-primary"
                  >
                    Salvar Dependente
                  </button>

                </form>

              </div>

            </div>

            {% endif %}

            <!-- ========================= -->
            <!-- PET -->
            <!-- ========================= -->

            {% if session.get('usuario_pet') %}

            <div class="card border shadow-sm">

              <div class="card-body">

                <h4 class="mb-3">
                  🐶 Pet:
                  {{ session['usuario_pet'] }}
                </h4>

                <p>
                  <strong>Espécie:</strong>
                  {{ session['usuario_especie'] }}
                </p>

                <p>
                  <strong>Raça:</strong>
                  {{ session['usuario_raca'] }}
                </p>

              </div>

            </div>

            {% else %}

            <!-- FORM -->
            <div
              id="formPet"
              class="card border shadow-sm mt-3"
              style="display: none;"
            >

              <div class="card-body">

                <h4 class="mb-4">
                  Cadastro de Pet
                </h4>

                <form>

                  <div class="mb-3">

                    <label class="form-label">
                      Nome do Pet
                    </label>

                    <input
                      type="text"
                      class="form-control"
                      name="nome_pet"
                    />

                  </div>

                  <div class="mb-3">

                    <label class="form-label">
                      Espécie
                    </label>

                    <input
                      type="text"
                      class="form-control"
                      name="especie"
                    />

                  </div>

                  <div class="mb-3">

                    <label class="form-label">
                      Raça
                    </label>

                    <input
                      type="text"
                      class="form-control"
                      name="raca"
                    />

                  </div>

                  <button
                    type="button"
                    class="btn btn-success"
                  >
                    Salvar Pet
                  </button>

                </form>

              </div>

            </div>

            {% endif %}

          </div>

        </div>

      </div>

    </div>

  </main>

  <!-- JS -->
  <script>

    function mostrarDependente() {

      let form = document.getElementById("formDependente")

      if (form.style.display === "none") {

        form.style.display = "block"

      } else {

        form.style.display = "none"

      }

    }

    function mostrarPet() {

      let form = document.getElementById("formPet")

      if (form.style.display === "none") {

        form.style.display = "block"

      } else {

        form.style.display = "none"

      }

    }

  </script>

  <!-- BOOTSTRAP -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>