<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notificações</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admCadStyle.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
  <main>
    <h4 style="font-size: 2rem;">Notificações</h4>
    <h5 style="margin-left: 4.5rem;">Total de Notificações: 8</h5>

    <div id="secVerUsuarios" class="form-section">
      <div class="informacoes">
        <div class="info-content">
          <table style="width:100%">
            <tr>
              <th>Tipo</th>
              <th>Mensagem</th>
              <th>Data</th>
            </tr>

            <tr class="tr-grey">
              <td>🔔 Lembrete</td>
              <td>Você tem uma palestra sobre Inovação agendada para hoje às 19h.</td>
              <td>08/05/2025</td>
            </tr>
            <tr class="tr-white">
              <td>✅ Confirmação</td>
              <td>Sua inscrição na palestra “Empreendedorismo Jovem” foi confirmada.</td>
              <td>07/05/2025</td>
            </tr>
            <tr class="tr-grey">
              <td>📢 Atualização</td>
              <td>A palestra “Saúde Mental na Era Digital” foi reagendada para 20/05 às 14h.</td>
              <td>06/05/2025</td>
            </tr>
            <tr class="tr-white">
              <td>🔔 Lembrete</td>
              <td>Não se esqueça da palestra “IA na Educação” amanhã às 16h30.</td>
              <td>05/05/2025</td>
            </tr>
            <tr class="tr-grey">
              <td>⚠️ Alerta</td>
              <td>A palestra “Sustentabilidade no Século XXI” teve alteração no local.</td>
              <td>04/05/2025</td>
            </tr>
            <tr class="tr-white">
              <td>✅ Confirmação</td>
              <td>Sua presença foi confirmada na palestra “Carreira em TI”.</td>
              <td>03/05/2025</td>
            </tr>
            <tr class="tr-grey">
              <td>📢 Atualização</td>
              <td>Nova palestra disponível: “Finanças Pessoais para Jovens”.</td>
              <td>02/05/2025</td>
            </tr>
            <tr class="tr-white">
              <td>🔔 Lembrete</td>
              <td>A palestra “Tecnologia e Sociedade” acontecerá em 2 dias.</td>
              <td>01/05/2025</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="botoes-usuario">
      <a class="btn-voltar" href= "{{ url_for('main.indexUsers') }}">Voltar</a>
    </div>
  </main>

  <script src="js/adm-cadastro.js"></script>
</body>
</html>
