<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SAEC - Tela do Usuário</title>
  <link rel="stylesheet" href="css/userStyle.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <h1>SAEC</h1>
  </header>

  <main class="usuario-container">

    <div class="info-cadastro">
      <div class="perfil">
        <div class="foto-perfil">DO</div>
        <div class="info-principal">
          <h2>Nome do Usuário</h2>
          <p>ID: 123456</p>
        </div>
      </div>
      <p><strong>Nome:</strong> Joana Silva</p>
      <p><strong>E-mail:</strong> joana@email.com</p>
      <p><strong>Telefone:</strong> (11) 91234-5678</p>
      <p><strong>CEP:</strong> 01234-567</p>
      <p><strong>Número:</strong> 123</p>
      <p><strong>Complemento:</strong> Apto 45</p>
      <p><strong>CPF:</strong> 123.456.789-00</p>
  
      <button class="editar-btn" onclick="">Editar Informações</button>
      
      <a class="btn-voltar" href="./indexUsers.html" >voltar</a>
    </div>
  
    <div class="cards-dependentes">
      <h1>Dependentes</h1>
      <div class="card">
        <h3>Dependente: Maria Silva</h3>
        <p><strong>Idade:</strong> 8 anos</p>
        <p><strong>Grau de Parentesco:</strong> Filha</p>
        <p><strong>Escola:</strong> Escola Municipal Alegria de Viver</p>
      </div>
  
      <div class="card">
        <h3>Pet: Rex</h3>
        <p><strong>Espécie:</strong> Cachorro</p>
        <p><strong>Raça:</strong> Labrador</p>
        <p><strong>Idade:</strong> 4 anos</p>
      </div>
    </div>
  
  </main>
  
</body>
</html>
