<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SAEC - Tela do Usuário</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/userStyle.css') }}">

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
  <main class="usuario-container">

    <!-- Informações do usuário -->
    <div class="info-cadastro">

      <div class="perfil">

        <div class="foto-perfil">
          DO
        </div>

        <div class="info-principal">
          <h2>{{ session['usuario_nome'] }}</h2>
          <p>ID: 123456</p>
        </div>

      </div>

      <p><strong>Nome:</strong> {{ session['usuario_nome'] }}</p>
      <p><strong>E-mail:</strong> {{ session['usuario_email'] }}</p>
      <p><strong>Telefone:</strong> {{ session['usuario_telefone'] }}</p>
      <p><strong>CEP:</strong>{{ session['usuario_cep'] }}</p>
      <p><strong>Número:</strong> {{ session['usuario_numero'] }}</p>
      <p><strong>Complemento:</strong> {{ session['usuario_complemento'] }}</p>
      <p><strong>CPF:</strong> {{ session['usuario_cpf'] }}</p>

      <!-- Botões de ação -->
      <div class="acoes-usuario">

        <button class="editar-btn" onclick="">
          Editar Informações
        </button>

        <button class="exportar-btn">
          Exportar Dados
        </button>

        <button class="termos-btn">
          Revisar Termos
        </button>

      </div>

    </div>

    <!-- Dependentes -->
    <div class="cards-dependentes">


      <h1>Dependentes</h1>

      <div class="card">

        <h3>Dependente: {{ session['usuario_nome_dependente'] }}</h3>

        <p><strong>Idade:</strong> {{ session['usuario_data_nascimento'] }}</p>

        <p><strong>Grau de Parentesco:</strong> {{ session['usuario_parentesco'] }}</p>

      </div>

      <div class="card">

        <h3>Pet: Rex</h3>

        <p><strong>Espécie:</strong> Cachorro</p>

        <p><strong>Raça:</strong> Labrador</p>

        <p><strong>Idade:</strong> 4 anos</p>

      </div>
<!-- Botão voltar -->
      <div class="botoes-usuario-users">

        <a class="btn-voltar-users" href="{{ url_for('main.indexUsers') }}">
          Voltar
        </a>

      </div>
    </div>

    
  </main>

</body>
</html>