body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;  
    align-items: center;      
    background-color: #f2f2f2; /* só para dar contraste */
  }
  
  .formulario-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: white;
    padding: 2rem;
    color: #333;
    border-radius: 12px;
    max-width: 98rem;
    width: 100%;
    height: 44rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-top: 0.4%;
  }

  .formulario-container-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    background-color: white;
    padding: 2rem;
    color: #333;
    border-radius: 12px;
    max-width: 70rem;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-top: 0.4%;
  }

  .formulario-buttons{
    margin-left: 2%;
    margin-top: 2%;
  }

  .formulario-infos {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 2rem;
    color: #333;
    border-radius: 12px;
    max-width: 75rem;
    width: 100%;
    height: 33rem;
    margin-top: 0.4%;
  }
  
  .info-form {
    width: 50%;
    
  }
  
  .imagem img {
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .imagem-cad{
    margin-top: 50%;
    width: 25rem;
  }
  
  .btn-login {
    width: 100%;
    background-color: #345CFC;
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 9999px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 5%;
  }
  
  a{
    text-decoration: none;
  }

  /* #termos-uso{
    /* margin-top: 0.5%; 
    /* background-color: #345CFC; 
  } */