<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/admCadStyle.css">
</head>
<body>

            <div class="header-relatorio">
                <div class="titulo-relatorio">
                    <h1 id="titulo-relatorio">Relatórios e Dados</h1>
                </div>
                <div>
                    <button class="btn-exportar">Exportar</button>
                </div>
            </div>
            <div class="content-relatorio">
                <div class="numeros-relatorio">
                    <div class="card-num">
                        <p>Total Serviços Cadastrados</p>
                        <h2>30</h2>
                    </div>
                    <div class="card-num">
                        <p>Número de Usuários</p>
                        <h2>330</h2>
                    </div>
                    <div class="card-num">
                        <p>Total de Agendamentos</p>
                        <h2>255</h2>
                    </div>
                    <div class="card-num">
                        <p>Vagas Abertas</p>
                        <h2>75</h2>
                    </div>
                </div>
                <div class="grafico">
                    <div class="chart-container">
                        <div class="title">
                          <strong>🔵 Inscritos</strong>
                        </div>
                        <div class="bar-chart">
                          <div class="bar"><div class="bar-value">110</div></div>
                          <div class="bar"><div class="bar-value">122</div></div>
                          <div class="bar"><div class="bar-value">50</div></div>
                          <div class="bar"><div class="bar-value">63</div></div>
                          <div class="bar"><div class="bar-value">98</div></div>
                        </div>
                        <div style="display: flex; justify-content: space-evenly; margin-top: 5px; margin-left: 1%;">
                          <div class="bar-label">eventos</div>
                          <div class="bar-label">consultas</div>
                          <div class="bar-label">oficinas</div>
                          <div class="bar-label">veterinária</div>
                          <div class="bar-label">cursos</div>
                        </div>
                      </div>
                </div>
            </div>

</body>
</html>