<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/admCadStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <main>
    <h1>Visualizar agendamentos</h1>
    <section class="menu">
        <div class="item-menu" id="form-cons-medica">
            <div class="icone-menu">
                <img src="./assets/novoEvento.png" alt="">
            </div>
            <div class="titulo-item">
                <p>Consulta Médica</p>
            </div>
        </div>
        <div class="item-menu-blue" data-page="formEventos.html">
            <div class="icone-menu">
                <img src="./assets/cad-evento.png" alt="">
            </div>
            <div class="titulo-item">
                <p>Eventos Acadêmicos</p>
            </div>
        </div>
        <div class="item-menu" data-page="formOficina.html">
            <div class="icone-menu">
                <img src="./assets/cad-ofc.png" alt="">
            </div>
            <div class="titulo-item">
                <p>Oficinas Acadêmicas</p>
            </div>
        </div>
        <div class="item-menu-blue" data-page="formConsultaVeterinaria.html">
            <div class="icone-menu">
                <img src="./assets/cad-vet.png" alt="">
            </div>
            <div class="titulo-item">
                <p>Consulta Veterinária</p>
            </div>
        </div>
        <div class="item-menu" data-page="formCursos.html">
            <div class="icone-menu">
                <img src="./assets/cad-curso.png" alt="">
            </div>
            <div class="titulo-item">
                <p>Cursos Complementares</p>
            </div>
        </div>
    </section>

    <div id="secConsultaVet" class="form-section">
        
        <div class="informacoes">
          <div class="info-content">
            <table style="width:100%">
              <tr>
                <th>Título</th>
                <th>Editar</th>
                <th>Excluir</th>
              </tr>
              <tr class="tr-selected">
                <td>Pediatria</td>
                <td><img src="assets/edit.png" alt=""></td>
                <td><img src="assets/del.png" alt=""></td>
              </tr>
              <tr class="tr-white">
                <td>Psicologia</td>
                <td><img src="assets/edit.png" alt=""></td>
                <td><img src="assets/del.png" alt=""></td>
              </tr>
              <tr class="tr-grey">
                <td>Odontologia</td>
                <td><img src="assets/edit.png" alt=""></td>
                <td><img src="assets/del.png" alt=""></td>
              </tr>
              <tr class="tr-white">
                <td>Fisioterapia</td>
                <td><img src="assets/edit.png" alt=""></td>
                <td><img src="assets/del.png" alt=""></td>
              </tr>
              <tr class="tr-grey">
                <td>Fisioterapia</td>
                <td><img src="assets/edit.png" alt=""></td>
                <td><img src="assets/del.png" alt=""></td>
              </tr>
              <tr class="tr-white">
                <td>Fisioterapia</td>
                <td><img src="assets/edit.png" alt=""></td>
                <td><img src="assets/del.png" alt=""></td>
              </tr>
              <tr class="tr-grey">
                <td>Fisioterapia</td>
                <td><img src="assets/edit.png" alt=""></td>
                <td><img src="assets/del.png" alt=""></td>
              </tr>
              <tr class="tr-white">
                <td>Fisioterapia</td>
                <td><img src="assets/edit.png" alt=""></td>
                <td><img src="assets/del.png" alt=""></td>
              </tr>
            </table>
          </div>
          <div class="info-content">
           
            
            <div class="descricao-servico">
              <div class="consulta-pediatria">
                <h5>Agendamento de Consulta Médica – Pediatria</h5>
                <p><strong>Período de Inscrição:</strong><br>
                De 06/05/2025 até 10/05/2025.</p>
              
                <p><strong>Público-alvo:</strong><br>
                Crianças com idade entre 0 e 12 anos.</p>
              
                <p><strong>Local de Atendimento:</strong><br>
                Centro de Saúde Familiar – Rua das Flores, nº 250, Bairro Central.</p>
              
                <p><strong>Responsável pelo Atendimento:</strong><br>
                Ricardo Almeida.</p>
              
                <p><strong>Número de Vagas Disponíveis:</strong><br>
                20 consultas por ordem de inscrição.</p>
              
                <p><strong>Horário das Consultas:</strong><br>
                De 13/05/2025 a 17/05/2025, das 08h às 12h.</p>
              
              </div>
              
            </div>
          </div>
        </div>
        
    </div>
    
       
   
    </main>
    

    <script src="js/adm-cadastro.js"></script>
</body>
</html>