<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/admCadStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <main>
    <h1>Usuários Cadastrados</h1>

    <h4>Total de Usuários: 200</h4>
    <div id="secVerUsuarios" class="form-section">
        <div class="informacoes">
          <div class="info-content">
            <table style="width:100%">
              <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
              </tr>
              <tr class="tr-grey">
                <td>Laura Martins</td>
                <td>laura.martins@email.com</td>
                <td>(11) 91234-5678</td>
              </tr>
              <tr class="tr-white">
                <td>Rafael Souza</td>
                <td>rafael.souza@email.com</td>
                <td>(11) 99876-5432</td>
              </tr>
              <tr class="tr-grey">
                <td>Ana Clara Dias</td>
                <td>ana.dias@email.com</td>
                <td>(11) 98765-1234</td>
              </tr>
              <tr class="tr-white">
                <td>Gabriel Lima</td>
                <td>gabriel.lima@email.com</td>
                <td>(11) 97654-3210</td>
              </tr>
              <tr class="tr-grey">
                <td>Beatriz Ferreira</td>
                <td>beatriz.ferreira@email.com</td>
                <td>(11) 93456-7890</td>
              </tr>
              <tr class="tr-white">
                <td>Henrique Oliveira</td>
                <td>henrique.oliveira@email.com</td>
                <td>(11) 95678-2345</td>
              </tr>
              <tr class="tr-grey">
                <td>Camila Rocha</td>
                <td>camila.rocha@email.com</td>
                <td>(11) 94567-8901</td>
              </tr>
              <tr class="tr-white">
                <td>Lucas Almeida</td>
                <td>lucas.almeida@email.com</td>
                <td>(11) 92345-6789</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      
    
       
   
    </main>
    

    <script src="js/adm-cadastro.js"></script>
</body>
</html>